################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/leetcode/bin/Debug/net6.0
/leetcode/obj
